@import 'scss/globals/colors',
        'scss/globals/variables',
        'scss/globals/normalize',
        'scss/globals/media';

@import 'scss/blocks/header',
        'scss/blocks/logo',
        'scss/blocks/button-main',
        'scss/blocks/hero',
        'scss/blocks/poster',
        'scss/blocks/academy',
        'scss/blocks/hockey',
        'scss/blocks/footer',
        'scss/blocks/admin-login',
        'scss/blocks/info';

