@import 'globals/colors', 
        'globals/variables', 
        'globals/normalize', 
        'globals/media';

@import 'blocks/header', 'blocks/logo', 'blocks/button-main', 'blocks/hero', 'blocks/poster', 'blocks/academy', 'blocks/hockey', 'blocks/footer', 'blocks/admin-login', 'blocks/info';

