$white: #FFFFFF;
$black: #000000;
$deep-blue: #0C0C10;
$midnight: #141418;
$sky-blue: #16A1FF;
$muted-gray: #9CA7C8;
$overlay-blue: rgba(8, 8, 12, 0.65);
$violet: #7B61FF;
$electric-blue: #4D97FF;
$poster-light: #F5F7FF;
$ink: #11121A;
$poster-gradient-start: #66E0E3;
$poster-gradient-end: #2DC5D8;

