*,
*::before,
*::after{
    box-sizing: border-box;
}

html{
    height: 100%;
    scroll-behavior: smooth;
}

body{
    margin: 0;
    min-height: 100%;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    font-family: $font-base;
    color: $white;
    background-color: $deep-blue;
    overflow-x: auto;
}

img{
    max-width: 100%;
    display: block;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}

button{
    font: inherit;
}

.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.container{
    width: min($layout-max-width, 100% - 2rem);
    margin-inline: auto;
}
